@import url(../blocks/body/body.css);
@import url(../blocks/action-button/action-button.css);
@import url(../blocks/student-info/student-info.css);
@import url(../blocks/student-info/__id/student-info__id.css);
@import url(../blocks/student-info/__id/_color/student-info__id_color_black.css);
@import url(../blocks/student-info/__id/_accent/student-info__id_accent.css);
@import url(../blocks/student-info/__credentials/student-info__credentials.css);
@import url(../blocks/student-info/__credentials/_color/student-info__credentials_color_black.css);

.body {
    background-image: none;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    min-height: 100%;
}
.qr-code__image {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}