@import url(../blocks/body/body.css);
@import url(../blocks/action-button/action-button.css);
@import url(../blocks/student-info/student-info.css);
@import url(../blocks/student-info/__id/student-info__id.css);
@import url(../blocks/student-info/__id/_color/student-info__id_color_black.css);
@import url(../blocks/student-info/__id/_accent/student-info__id_accent.css);
@import url(../blocks/student-info/__credentials/student-info__credentials.css);
@import url(../blocks/student-info/__credentials/_color/student-info__credentials_color_black.css);

.body {
    background-image: none;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    min-height: 100%;
}
.ticket-data {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 5px;
}
.ticket-data__credentials {
    grid-column: 1/2;
    grid-row: 1;
    font-size: 36px;
    font-weight: 700;
}

.ticket-data__title {
    grid-column: 1/2;
    grid-row: 3;
    font-size: 36px;
    font-weight: 700;
    margin: 5px 0 0 0;
}

.ticket-data__credentials:last-of-type {
    grid-row: 2;
}

.ticket-data__schedule {
    grid-column: 1/2;
    grid-row: 4;
}
.ticket-data__qr-code {
    grid-column: 2/3;
    grid-row: 4;
}
.qr-code__image {
    background-color: white;
    height: 100%;
}