@import url(../blocks/body/body.css);
@import url(../blocks/action-button/action-button.css);
@import url(../blocks/student-info/student-info.css);
@import url(../blocks/student-info/__id/student-info__id.css);
@import url(../blocks/student-info/__id/_color/student-info__id_color_black.css);
@import url(../blocks/student-info/__id/_accent/student-info__id_accent.css);
@import url(../blocks/student-info/__credentials/student-info__credentials.css);
@import url(../blocks/student-info/__credentials/_color/student-info__credentials_color_black.css);

.body {
    background-image: none;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 561px;
    height: 793px;
    min-height: 100%;
}
.ticket-data {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.ticket-data__title {
    grid-column: 1/2;
    grid-row: 3;
    font-size: 20px;
    font-weight: 700;
    margin: 5px 0 0 0;
}



.ticket-data__schedule {
    grid-column: 1/2;
    grid-row: 4;
}

.access {
    display: grid;
    grid-template-columns: 1fr 150px;
    grid-template-rows: repeat(2, max-content) 1fr;
}
.access__qr-code {
    grid-column: 2/3;
    grid-row: 1/4;
}
.qr-code__image {
    width: 100%;
    background-color: white;
}
.access__credentials {
    grid-column: 1/2;
    grid-row: 1;
    font-size: 20px;
    font-weight: 700;
    align-self: center;
}
.access__credentials:nth-child(2) {
    grid-row: 2;
}
.access__credentials:last-of-type {
    grid-row: 3;
    font-size: 15px;
    align-self: flex-end;
}