<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/pages/page-main.css" />
    <title>Главная</title>
  </head>
  <body class="body">
    <section class="welcome">
      <h1 class="welcome__title">Добро пожаловать в ВолгГМУ!</h1>
      <a href="{{url_for('core.regist')}}">
        <button class="welcome__start-button">Начать</button>
      </a>
    </section>
  </body>
</html>
