<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Печать талона</title>
    <link rel="stylesheet" href="/static/css/pages/page-print-ticket.css" />
  </head>
  <body class="body" data-redirect-url="{{redirect_url}}">
    <main class="main">
      <section class="student-info">
        <span style="text-align: center;" class="student-info__id student-info__id_color_black student-info__id_accent">{{ person_id }}</span>
      </section>
      <section class="ticket-data">
        <div class="access ticket-data__access">
          <span class="access__credentials"
          >Логин: {{ login }}</span
        >
        <span class="access__credentials">Пароль: {{ password }}</span>
        <span class="access__credentials">Индивидуальный маршрутный лист прохождения аккредитации по специальности &laquo;{{ specialization }}&raquo;</span>
        {% if qr_code %}
        <section class="qr-code access__qr-code">
          <img
            class="qr-code__image"
            src="data:image;base64,{{ qr_code }}"
            alt="qr code"
          />
        </section>
        {% endif %}
        </div>
        <table id="schedule" class="ticket-data__schedule" style="border-collapse: collapse;">
          <tr style="background-color: black; color: white; font-size: 20px">
            <td colspan="3" style="text-align:center;   height: fit-content;" >&num;</td>
            <td colspan="3" style=" height: fit-content;">Станция</td>
            <td colspan="3" style="text-align:center; width: 1%; height: fit-content;">&numero;<br/> кабинета</td>
          </tr>
              {%for el in rooms %}
            <tr style="font-size: 15px;">
              <td colspan="3" style="text-align:center; height:20px; border: 1px solid black;">{{loop.index}}</td>
              <td colspan="3" style="height:20px; border: 1px solid black;">{{el.name}}</td>
              <td style="text-align:center; height:20px; border: 1px solid black;">{{el.number}}</td>
            </tr>
      {%endfor%}
      </table>
      </section>
    </main>
  </body>
  <!-- <script
    type="module"
    src="/static/scripts/page-print-ticket/index.js"
  ></script> -->
</html>
